# BotFather bergan tokenni shu yerga qo'ying
BOT_TOKEN=8959249432:AAFeNMJo7sUviB0cOZrzLK9VqC8HIaFLItI
# Railway/Render sizga bergan haqiqiy domen (masalan: https://pul-nazorati.up.railway.app)
WEBAPP_URL=https://pul-nazorati-production.up.railway.app
# Serverni ishga tushirish porti (Railway/Render buni o'zi beradi, o'zgartirish shart emas)
PORT=3000

# Lokal (kompyuteringizda) Telegramsiz sinash uchun true qiling.
# Productionda (haqiqiy ishlatishda) albatta false yoki umuman qo'ymang!
ALLOW_DEV_NO_AUTH=false
